.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    justify-content: flex-start; /* Align items to the start to prevent hiding */
    padding: 0 20px; /* Add padding on both sides */
    margin-left: -20px; /* Adjust the negative margin to pull the first item into view */
  }
  
  .carousel > * {
    flex: 0 0 250px; /* Fixed width of 250px */
    margin-right: 1rem; /* Adjust the margin between items */
    box-sizing: border-box; /* Include padding and border in the total width */
    scroll-snap-align: start;
  }
  
  
  /* Adjust the number of items displayed based on screen size */
  @media (min-width: 600px) {
    .carousel {
      gap: 1rem; /* Adjust the gap between items */
    }
  
    .carousel > * {
      flex: 0 0 calc(50% - 0.5rem);
    }
  }
  
  @media (min-width: 900px) {
    .carousel > * {
      flex: 0 0 calc(33.333% - 0.5rem);
    }
  }
  